<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ app.title }}</title>
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
  <!-- PACE js -->
  <link rel="stylesheet" href="{{ asset('pace-theme-minimal.css') }}">
  <script src="{{ asset('pace.min.js') }}" data-pace-options='{ "ajax": false, "restartOnRequestAfter": false }'></script>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ asset('animate.min.css') }}">
  <link rel="stylesheet" href="{{ asset('colors.min.css') }}">
  <link rel="stylesheet" href="{{ asset('app.css') }}">
  {% block css %}{% endblock %}
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="container">
  <!--[if lt IE 8]>
  <p class="browsehappy alert alert-warning alert-dismissable">
  <i class="fa fa-warning"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>Estás usando un navegador <strong>obsoleto</strong>. Por favor <a href="http://browsehappy.com/?locale=es" target="_blank" class="alert-link">actualiza tu navegador</a> para mejorar tu experiencia de uso.</p>
  <![endif]-->
  <div class="row">
    <div class="col-md-3">
      <p class="text-center">
        {#<img src="{{ asset('sep.jpg') }}" alt="SEP" class="img-responsive">#}
      </p>
    </div>
    <div class="col-md-6 text-center">
      <h3>{{ app.title }}</h3>
    </div>
    <div class="col-md-3">
      {#<img src="{{ asset('dgest.jpg') }}" alt="DGEST" class="img-responsive">#}
    </div>
  </div>
  {% block navbar %}{% endblock %}
  <div class="row">{% block content %}{% endblock %}</div>
  <footer>
    <div class="text-center pull-right">
      <small><a href="{{ url('home') }}">Strike Counter</a> {{ 'now' | date('Y') }}</small><br>
      Made with <i class="fa fa-heart red"></i> by <a href="http://www.adaptivez.com.mx/gisaa">GISAA</a>
    </div>
  </footer>
  <!-- JS -->
  <script src="{{ asset('jquery.min.js') }}"></script>
  <script src="{{ asset('jquery.cookie.js') }}"></script>
  <script src="{{ asset('bootstrap.min.js') }}"></script>
  <script src="{{ asset('bootstrap-floating-label.js') }}"></script>
  {#<script src="{{ asset('bootstrapValidator.js') }}"></script>#}
  <script src="{{ asset('moment-with-langs.min.js') }}"></script>
  {#<script src="{{ asset('charts.min.js') }}"></script>#}
  {#<script src="{{ path('typeahead.jquery.min.js') }}"></script>#}
  <script src="{{ asset('app.js') }}"></script>
  {% block js %}{% endblock %}
</body>
</html>
