{% extends 'base.twig' %}

{% block content %}
<div id="page-login" class="row">
  <div class="col-md-offset-3 col-md-6">
    <h2 id="access-title" class="text-center">Acceso</h2>
    {% if flash is defined and flash.errors is not empty %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><i class="fa fa-times-circle"></i> Error!</h2>
      <ul>
        {% for error in flash.errors %}
          <li>{{ error|replace({ ':email:': flash.email }) }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <form id="loginForm" action="{{ url('login') }}" method="post" class="form-horizontal transparent" role="form">
      <input id="tipo" name="tipo" type="hidden" value="0">
      <div class="form col-md-12 center-block">
        <div class="form-group float-label-control">
          <label for="usuario">Usuario</label>
          <input id="usuario" name="usuario" class="form-control input-lg" placeholder="Usuario" type="text" autocomplete="off" autofocus="true">
        </div>
        <div class="form-group float-label-control">
          <label for="password">Contraseña</label>
          <input id="password" name="password" class="form-control input-lg" placeholder="Contraseña" type="password" autocomplete="off">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">
            Entrar&nbsp;<i class="fa fa-sign-in"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('.login').click(function(event) {
    });
  });
</script>
{% endblock %}
